:root {
  --gameboard-border-color: #bfdbfe;
  --ship-color: #60a5fa;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  border-bottom: 2px solid silver;
  text-align: center;
}

header h1 {
  margin: 32px;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
}

.player-container p{
  text-align: center;
}

.gameboard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--gameboard-border-color);
}

.row {
  flex: 1;
  display: flex;
}

.node {
  flex: 1;
  border: 1px solid var(--gameboard-border-color);
}

.ship {
  background-color: var(--ship-color);
  border: 1px solid var(--ship-color);
}